.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
}

.container-div {
  display: flex;
  justify-content: center;
}

.info-img-thinkig {
  width: 10rem;
  height: 12rem;
  margin-right: 8rem;
}

.info-div {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  padding: 1.2rem;
  border-radius: 8px;
  max-width: 25rem;
  text-align: justify;
  line-height: 1.5rem;
}

.info-div > p:last-child {
  margin-top: 0.5rem;
  text-decoration: underline;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .info-section {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
  }
}

@media (max-width: 600px) {
  .container-div {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .info-img-thinkig {
    display: none;
  }
}
