#main-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: #457b9d;
  color: #fff;
}

.arrow-div-info {
  height: 4.5rem;
  width: 4.5rem;
}

.arrow-div-info > img {
  width: 100%;
  height: 100%;
}
