#section-nationality {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
  width: 100%;
}

.ul-nationality {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  flex-wrap: wrap;
  padding: 0px 4rem;
}

.li-nationality {
  list-style: none;
  font-size: 0.8rem;
  min-width: 200px;
}

.img-nationality {
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;
}

.span-nationality {
  font-weight: bold;
  color: #000;
}
